@import url('https://fonts.googleapis.com/css?family=Monoton');
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}
.record-cards{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-gap: 50px;
    align-items: center;
    margin-bottom: 100px;
}
.record-shop-header{
    font-size: 5em;
    background: -webkit-linear-gradient(#ffffff, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Monoton", Helvetica, sans-serif;
    font-weight: bold;
}

