:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}
.record-shop-header{}
.record-list{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-gap: 20px;
    align-items: center;
}
.record-form{
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: #000000;
  }

